// Modal css\

.custom-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 99;

  &.dark {
    background-color: rgba(0, 0, 0, 0.9);
  }
}



@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}


.ReactModal__Overlay {
  opacity: 0;
  transition: all 0.3s ease;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.custom-modal.dark .box_inner::-webkit-scrollbar {
  width: 8px;
  /* width of the entire scrollbar */
}

.custom-modal.dark .box_inner::-webkit-scrollbar-track {
  background: #333;
  /* color of the tracking area */
}

.custom-modal.dark .box_inner::-webkit-scrollbar-thumb {
  background-color: #555;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 1px solid #333;
  /* creates padding around scroll thumb */
}

body.light .custom-modal.dark .box_inner::-webkit-scrollbar-track {
  background: #fff;
  /* color of the tracking area */
}

body.light .custom-modal.dark .box_inner::-webkit-scrollbar-thumb {
  background-color: #bbb;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 1px solid #fff;
  /* creates padding around scroll thumb */
}

.custom-modal.dark.light .box_inner.about {
  border: 2px solid #fff;
}

.custom-modal.dark {
  background: #111;
  &.hero {
    background: #111;
  }
  &.light {
    background: #fff;
  }
}

///////New CSS///////


.no-scroll {
  overflow: hidden
}

.custom-modal {
  border: none;
  background: #fff;
  overflow: initial;
  outline: none;
  animation: slideInFromTop 0.9s cubic-bezier(0.77, 0, 0.175, 1) both;
  top: 0px;
  left: 0px;
  padding-bottom: env(safe-area-inset-bottom);

  .box_inner {
    height: 100vh;
    overflow-y: auto;
    width: 100vw;
    overflow-x: auto;
    flex-direction: column;
    justify-content: center;
  }

  .modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}


.project-header {
  margin-bottom: 10vh;
  border-bottom: 4px solid #ffb400;
  @media screen and (max-width:850px) {
    margin-bottom: 2rem;
  }

  .header-row {
    display: flex;
    justify-content: space-between;
    margin: 1rem;

    @media screen and (max-width:850px) {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-bottom: 5vh;
    }
    div{
      flex:1
    }
  }

  .modal-logo {
    max-width: 5rem;
    @media screen and (max-width:850px) {
      visibility: hidden;
      position: absolute;
    }
  }
  .company {
    margin-top: 1rem;
    text-transform: uppercase;
    z-index: 3;
    margin: 0;
  }
  .company-h3 {
    color: #4a4a4a;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
  }

  .company-logo {
    max-width: 5rem;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
  }
}

.close-modal {
  display: flex;
  justify-content: flex-end;
  @media screen and (max-width: 1199px) {
    right: 0px;
    top: -48px;
  }
  @media screen and (max-width: 850px) {
    width: 100vw;
    left: 5px;
    top: 5px;
  }
  img {
    cursor: pointer;
    filter: invert(1);
    max-width: 1.5em;
    max-height: 1.5em;
    @media screen and (max-width: 850px) {
      max-width: 1em;
    }
  }
}

.slate {
  width: 100%;
  background: #111;
  padding-left: 4rem;
  padding-right: 4rem;

  @media screen and (min-width:1600px) {
    width: 80%;
  }

  @media screen and (max-width:850px) {
    padding: 1rem;
    
  }

  .content {
    display: flex;
    

    @media screen and (max-width:850px) {
      flex-direction: column;
      border-bottom: 2px solid #ffb400;
    }
  }

  img {
    border-radius: 6px;
    width: 50%;
    @media screen and (max-width:850px) {
      width: 100%;
    }
  }

  .challenges {
    margin: auto;
  }
}

.content.chal {
  @media screen and (max-width:850px) {
    flex-direction: column-reverse;
  }
}

.svg-container {
  margin-left: 20%;
  margin-right: 20%;
 
  @media screen and (min-width:1620px) {
    width: 70%;
  }

  @media screen and (max-width:850px) {
    margin: 0;
    position: absolute;
    visibility: hidden
  }
}

/////// Carousel \\\\\\\\\\\

.carousel {
  background-color: rgb(35, 35, 35);
  height: 25rem;
  border-radius: 5px;
  margin: 6rem 0;
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  overflow: hidden;
  @media screen and (max-width:850px) {
    margin-top: 5vh;
    margin-bottom: 15vh;
    height: 20vh;
  }

  .carousel-images {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    overflow: hidden;
    z-index: 1;

    .anima-img {
      width: 50%;
      max-width: 600px;
      height: auto;
      position: absolute;
      border-radius: 8px;
    }
  }

  .left,
  .right {
    background-color: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 40px;
    width: 5rem;
    max-width: 150px;
    border: none;
    z-index: 2;
    filter: invert(1) hue-rotate(270deg);
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }

  .carousel-indicator {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .dot {
    background-color: #333;
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }

  .active {
    background-color: #fffcfc;
  }
}